.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(200vh - 100px);
}

.form {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.formTitle {
    text-align: center;
}

.formGroup {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.submitButton {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #0056b3;
}
